<br><br>
<%- model_class = User -%>

<h1>Lista de Usuarios</h1>

<%= form_tag request.path, :method => 'get' do %>
 <%= content_tag :label do %>
 <br>
 <h4>Buscar Nombre: </h4>
 <%= text_field_tag :search, params[:search] %>
 <%= submit_tag "Consultar", :username => nil %>
 <% end %>
<% end %>

<%= form_tag request.path, :method => 'get' do %>
  <%= content_tag :label do %>
     Numero Registros:
    <%= text_field_tag :registro, params[:registro], :class =>'input-mini' %>
   <% end %>
<% end %>

<p>
 <h4>Usuarios : <%= @users.total_entries %></h4>
</p>
<br>

<div class="well" onmouseover="style.borderColor='black';" onmouseout="style.borderColor='blue';">
  <table border="2" class="table table-hover table-condensed pretty ">
    <thead>
      <tr>
        <th><%= sortable "username" %></th>
        <th><%= sortable "email" %></th>
        <th> Roles</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <%= render @users %>
    </tbody>
  </table>
</div>

<%= link_to "Crear cuenta", signup_path, :class=>"btn btn-default btn-primary",:remote => true %>

<div align="center">
 <%= will_paginate @users, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente&raquo;' %>
</div>