
<ul class="nav">
    <li>
    	<%= link_to "home", root_path %>
    </li>

	<li>
		<%= link_to 'Horario', horarios_path  %>
	</li>
	
	<li>
		<%= link_to 'Instructores', instructores_path %>
	</li>
	
	<li>
		<%= link_to 'Materias', materias_path %>
	</li>
    
    <li>
		<%= link_to 'Cursos', cursos_path %>
	</li>

	<li>
		<%= link_to 'Registrarse', "" %>
	</li>
	
</ul>
